<% provide(:title, "Home") %>
<!doctype html>
<html>
<head>
  <title><%= yield(:title) %> | Freight App</title>
</head>
<body>
<div class="center jumbotron" style="background-image: url(https://www.rcgauto.com/wp-content/uploads/2014/08/highway.jpg); height: 500px">
  <h1 style="color: white">RCG Auto</h1>

  <div style="padding-top: 200px">

    <% if user_signed_in? %>
        <%= link_to "Go To Admin Panel", "/admin", class: "btn btn-lg btn-primary" %>
  <% else %>
        <%= link_to "If you are a vendor looking to ship with us, please click here", carrier_signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

</div>
<div class="center">
  <h1>Why Choose RCG Logistics?</h1>
  <h2>
    Our commitment is to provide the highest level of vehicle shipping service. We are detail oriented, focused on quality assurance, excellent communication & on time deliveries.
  </h2>
  <%= link_to "Get a Quote Now", new_lead_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
  <%= link_to image_tag("rcg_logo_small.png", alt: "RCG Logo"), '/' %>
</div>
</body>
</html>
