<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Freight App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if vendor_signed_in? %>
          <li><%= link_to "Account Settings", edit_vendor_registration_path %></li>
          <li><%= link_to "Logout", destroy_vendor_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_vendor_session_path %></li>
          <li><%= link_to "Log in", new_vendor_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
